.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;

  &__logo {
    width: 5rem;
    transition: 0.3s;
    &:hover {
      scale: 1.2;
    }
  }

  &__hamburger {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      scale: 1.2;
    }
  }
}
