button {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  border: none;
  width: 22rem;
  font-family: "Roboto", sans-serif;
  background-color: #d9d9d9;
}
