.form {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &field {
    display: flex;
    flex-direction: column;
    label {
      font-family: "League Spartan", sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
    }

    input,
    textarea {
      border: 0;
      border-bottom: 1px solid black;
      height: 4rem;
      margin-top: 1rem;
    }
  }
}
