.content {
  margin-top: 4rem;
  padding: 2rem 3rem 3rem 3rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home__subtitle {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.home__skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
}
.home__skills-list li {
  display: flex;
  align-items: center;
}
.skill-icon {
  width: 1rem;
  height: 1rem;
}
.home__buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
